			<h1>salary structure</h1>





			<table border="'1">
			<th>User</th>
			<th>Annual Salary</th>
			<th>Basic</th>
			<th>Conveyance</th>
			<th>Medical</th>
			<th>basic</th>
			<th>Monthly preferential bonus</th>
			<th>Monthly salary</th>


			<tr>
			<td><%=@user.email.split("@")[0]%></td>
			<td><%=@user.annual_salary%></td>
			<td><%#=@payroll.basic%></td>
			</tr>
			</table>


